{
  "openapi": "3.0.3",
  "info": {
    "title": "Dossiê API",
    "description": "Geração assíncrona: selecione modules em lista, envie data tipado ou combine ambos, sem mode obrigatório. Risco automático em seis classes fixas em result.risco. PDF nos artefatos existentes. Recursos personalizados exigem habilitação da conta.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://221b-api.sherlocker.com.br/api/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "parameters": {
      "DossieId": {
        "name": "dossie_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "maxLength": 255
        }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "schema": {
          "type": "string"
        }
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "maximum": 100,
          "default": 20
        }
      }
    },
    "schemas": {
      "Dossie": {
        "type": "object",
        "required": [
          "id",
          "object",
          "status",
          "subject_type",
          "kind",
          "current_attempt",
          "artifacts",
          "stale",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "object": {
            "type": "string",
            "enum": [
              "dossie"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "needs_review",
              "failed",
              "cancelled"
            ]
          },
          "subject_type": {
            "type": "string",
            "enum": [
              "cpf",
              "cnpj",
              null
            ],
            "nullable": true,
            "description": "null para dados fornecidos sem documento."
          },
          "kind": {
            "type": "string",
            "enum": [
              "basic",
              "advanced"
            ]
          },
          "current_attempt": {
            "$ref": "#/components/schemas/Attempt"
          },
          "coverage": {
            "type": "object",
            "additionalProperties": true
          },
          "result": {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "report_schema": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                },
                "description": "Seções do relatório gerado."
              },
              "risco": { "$ref": "#/components/schemas/DossieRiskSectors" },
              "risk_classification": {
                "$ref": "#/components/schemas/DossieRiskClassification"
              }
            }
          },
          "failure": {
            "type": "object",
            "additionalProperties": true
          },
          "artifacts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Artifact"
            }
          },
          "stale": {
            "type": "boolean"
          },
          "poll_after_seconds": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "mode": {
            "type": "string",
            "enum": [
              "standard",
              "modular",
              "provided_data"
            ]
          },
          "risk_classification": {
            "$ref": "#/components/schemas/DossieRiskClassification"
          }
        }
      },
      "Attempt": {
        "type": "object",
        "required": [
          "id",
          "number",
          "status",
          "queued_at",
          "billing"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "number": {
            "type": "integer",
            "minimum": 1
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "needs_review",
              "failed",
              "cancelled"
            ]
          },
          "queued_at": {
            "type": "string",
            "format": "date-time"
          },
          "started_at": {
            "type": "string",
            "format": "date-time"
          },
          "completed_at": {
            "type": "string",
            "format": "date-time"
          },
          "billing": {
            "$ref": "#/components/schemas/Billing"
          }
        }
      },
      "Billing": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "not_charged",
              "charge_pending",
              "charged",
              "refund_pending",
              "refunded"
            ]
          },
          "amount": {
            "type": "integer"
          },
          "unit": {
            "type": "string",
            "enum": [
              "tokens"
            ]
          }
        }
      },
      "Artifact": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "dossie_pdf",
              "dossie_docx",
              "artifact"
            ]
          },
          "media_type": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "available",
              "temporarily_unavailable"
            ]
          },
          "download_url": {
            "type": "string",
            "format": "uri"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "available_until": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "Page": {
        "type": "object",
        "properties": {
          "next_cursor": {
            "type": "string",
            "nullable": true
          },
          "has_more": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": [
          "status",
          "code",
          "detail",
          "request_id",
          "retryable"
        ],
        "properties": {
          "status": {
            "type": "integer"
          },
          "code": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          },
          "retryable": {
            "type": "boolean"
          }
        }
      },
      "DossieRiskRule": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{1,64}$"
          },
          "path": {
            "type": "string",
            "maxLength": 256,
            "pattern": "^(data|modules|investigation)(\\.[a-zA-Z0-9_-]+(\\[\\])?)+$",
            "description": "Chaves separadas por ponto e [] para listas. Raiz data no provided_data, modules no modular e investigation no standard. Não aceita scripts, índices nem filtros JSONPath."
          },
          "operator": {
            "type": "string",
            "enum": [
              "eq",
              "contains",
              "exists",
              "gte",
              "gt",
              "lte",
              "lt"
            ]
          },
          "value": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 2000
              },
              {
                "type": "number"
              },
              {
                "type": "boolean"
              }
            ]
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          },
          "required": {
            "type": "boolean",
            "default": true,
            "description": "Se true, ausência de valor não nulo (ou numérico para comparadores numéricos) impede classificação. Use false para campos opcionais."
          },
          "description": {
            "type": "string",
            "maxLength": 500
          }
        },
        "required": [
          "id",
          "path",
          "operator",
          "score"
        ],
        "additionalProperties": false,
        "description": "Cada regra soma score uma única vez se qualquer valor do path corresponder. IDs devem ser únicos. value é obrigatório, exceto para exists; operadores numéricos exigem número e contains exige string."
      },
      "DossieRiskMatrix": {
        "deprecated": true,
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{1,64}$"
          },
          "version": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64
          },
          "thresholds": {
            "type": "object",
            "properties": {
              "medium_min": {
                "type": "integer",
                "minimum": 1,
                "maximum": 99
              },
              "high_min": {
                "type": "integer",
                "minimum": 2,
                "maximum": 100
              }
            },
            "required": [
              "medium_min",
              "high_min"
            ],
            "additionalProperties": false
          },
          "rules": {
            "minItems": 1,
            "maxItems": 100,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DossieRiskRule"
            }
          }
        },
        "required": [
          "id",
          "version",
          "thresholds",
          "rules"
        ],
        "additionalProperties": false,
        "description": "Política determinística enviada pelo cliente; exige public_api_dossies_custom em qualquer modo. A soma é limitada a 100. Limiares exigem medium_min < high_min e IDs de regras únicos."
      },
      "DossieModules": {
        "deprecated": true,
        "type": "object",
        "properties": {
          "conexoes": {"$ref":"#/components/schemas/DossieModules/properties/connections"},
          "redes_sociais": {"$ref":"#/components/schemas/DossieModules/properties/social_media"},
          "processos": {"$ref":"#/components/schemas/DossieModules/properties/lawsuits"},
          "protestos": {"$ref":"#/components/schemas/DossieModules/properties/protests"},
          "dividas": {"type":"object","additionalProperties":false},
          "veiculos": {"type":"object","additionalProperties":false},
          "imoveis": {"type":"object","additionalProperties":false},
          "connections": {
            "type": "object",
            "properties": {
              "max_degree": {
                "type": "integer",
                "minimum": 1,
                "maximum": 3
              }
            },
            "required": [
              "max_degree"
            ],
            "additionalProperties": false,
            "description": "Expansão de parentes e participações societárias de 1 a 3 graus, limitada a 200 entidades. Exceder o limite falha o job."
          },
          "social_media": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Registros e candidatos em LinkedIn, Instagram e Facebook. Resultados de busca não confirmam titularidade."
          },
          "lawsuits": {
            "type": "object",
            "properties": {
              "filters": {
                "type": "object",
                "properties": {
                  "categories": {
                    "minItems": 1,
                    "maxItems": 4,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "criminal",
                        "civil",
                        "labor",
                        "tax"
                      ]
                    }
                  },
                  "case_numbers": {
                    "minItems": 1,
                    "maxItems": 100,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^(?:\\d{20}|\\d{7}-\\d{2}\\.\\d{4}\\.\\d\\.\\d{2}\\.\\d{4})$"
                    }
                  }
                },
                "additionalProperties": false,
                "description": "Categorias são combinadas; case_numbers restringe os processos dentro das categorias, sempre vinculados ao documento principal."
              }
            },
            "additionalProperties": false,
            "description": "Paginação até 500 registros. Acima disso, coverage será partial e a matriz retornará insufficient_data."
          },
          "protests": {
            "type": "object",
            "properties": {},
            "additionalProperties": false,
            "description": "Fonte de protestos disponível, atualmente São Paulo, sem cobertura nacional."
          }
        },
        "additionalProperties": false,
        "minProperties": 1,
        "description": "Formato legado em objeto. Selecione pelo menos um módulo e não combine um alias com sua chave original. Chaves omitidas não são consultadas. Os outros módulos consultam apenas o documento principal; max_degree controla somente connections."
      },
      "DossieProvidedSection": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[a-zA-Z0-9_-]{1,64}$"
          },
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "text": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000
          },
          "items": {
            "minItems": 1,
            "maxItems": 500,
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {
                "$ref": "#/components/schemas/JsonValue"
              }
            }
          }
        },
        "required": [
          "id",
          "title"
        ],
        "additionalProperties": false,
        "description": "Seção com id único no relatório; exige text, items ou ambos. items aceita objetos JSON com chaves livres."
      },
      "DossieProvidedData": {
        "deprecated": true,
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "subject": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 200
              }
            },
            "required": [
              "name"
            ],
            "additionalProperties": false
          },
          "summary": {
            "type": "string",
            "minLength": 1,
            "maxLength": 20000
          },
          "sections": {
            "minItems": 1,
            "maxItems": 50,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DossieProvidedSection"
            }
          }
        },
        "required": [
          "title",
          "sections"
        ],
        "additionalProperties": false,
        "description": "Conteúdo literal enviado pelo cliente. Gera relatório/PDF sem investigação, enriquecimento ou verificação externa; o relatório identifica essa origem."
      },
      "JsonValue": {
        "description": "Qualquer valor JSON: string, número, booleano, null, objeto ou lista."
      },
      "CreateDossieStandard": {
        "type": "object",
        "properties": {
          "subject_type": {
            "type": "string",
            "enum": [
              "cpf",
              "cnpj"
            ],
            "description": "Inferido e validado contra document. Deve ser omitido quando provided_data não envia document."
          },
          "kind": {
            "type": "string",
            "enum": [
              "basic",
              "advanced"
            ],
            "default": "basic",
            "description": "Tipo e política de cobrança existentes; no modular não adiciona módulos omitidos."
          },
          "secoes": {"$ref":"#/components/schemas/DossieSections"},
          "risk_matrix": {
            "$ref": "#/components/schemas/DossieRiskMatrix"
          },
          "context": {
            "type": "string",
            "maxLength": 2000
          },
          "mode": {
            "type": "string",
            "enum": [
              "standard"
            ],
            "default": "standard"
          },
          "document": {
            "type": "string",
            "minLength": 1,
            "description": "CPF/CNPJ válido em string, com ou sem pontuação. Opcional apenas em provided_data, sem disparar consultas nesse modo."
          }
        },
        "required": [
          "mode",
          "document"
        ],
        "additionalProperties": false,
        "deprecated": true,
        "description": "Legado explícito. Sem mode, use CreateDossieUnified. context somente na investigação padrão."
      },
      "CreateDossieModular": {
        "type": "object",
        "properties": {
          "subject_type": {
            "type": "string",
            "enum": [
              "cpf",
              "cnpj"
            ],
            "description": "Inferido e validado contra document. Deve ser omitido quando provided_data não envia document."
          },
          "kind": {
            "type": "string",
            "enum": [
              "basic",
              "advanced"
            ],
            "default": "basic",
            "description": "Tipo e política de cobrança existentes; no modular não adiciona módulos omitidos."
          },
          "secoes": {"$ref":"#/components/schemas/DossieSections"},
          "risk_matrix": {
            "$ref": "#/components/schemas/DossieRiskMatrix"
          },
          "mode": {
            "type": "string",
            "enum": [
              "modular"
            ]
          },
          "document": {
            "type": "string",
            "minLength": 1,
            "description": "CPF/CNPJ válido em string, com ou sem pontuação. Opcional apenas em provided_data, sem disparar consultas nesse modo."
          },
          "modules": {
            "oneOf": [{"$ref":"#/components/schemas/DossiePublicModules"},{"$ref":"#/components/schemas/DossieModules"}]
          },
          "data": {
            "oneOf": [{"$ref":"#/components/schemas/DossieCustomData"},{"$ref":"#/components/schemas/DossieProvidedData"}]
          }
        },
        "required": [
          "mode",
          "document",
          "modules"
        ],
        "additionalProperties": false,
        "deprecated": true,
        "description": "Legado explícito: investiga módulos e permite data opcional. Exige public_api_dossies_custom."
      },
      "CreateDossieProvidedData": {
        "type": "object",
        "properties": {
          "subject_type": {
            "type": "string",
            "enum": [
              "cpf",
              "cnpj"
            ],
            "description": "Inferido e validado contra document. Deve ser omitido quando provided_data não envia document."
          },
          "kind": {
            "type": "string",
            "enum": [
              "basic",
              "advanced"
            ],
            "default": "basic",
            "description": "Tipo e política de cobrança existentes; no modular não adiciona módulos omitidos."
          },
          "secoes": {"$ref":"#/components/schemas/DossieSections"},
          "risk_matrix": {
            "$ref": "#/components/schemas/DossieRiskMatrix"
          },
          "mode": {
            "type": "string",
            "enum": [
              "provided_data"
            ]
          },
          "document": {
            "type": "string",
            "minLength": 1,
            "description": "CPF/CNPJ válido em string, com ou sem pontuação. Opcional apenas em provided_data, sem disparar consultas nesse modo."
          },
          "data": {
            "oneOf": [{"$ref":"#/components/schemas/DossieCustomData"},{"$ref":"#/components/schemas/DossieProvidedData"}]
          }
        },
        "required": [
          "mode",
          "data"
        ],
        "additionalProperties": false,
        "deprecated": true,
        "description": "Legado explícito: estrutura dados sem investigação. Exige public_api_dossies_custom. Não aceita context nem modules."
      },
      "DossiePublicModules": {
        "type": "array", "minItems": 1, "maxItems": 19,
        "description": "Nomes únicos, inclusive entre strings e objetos. web é reservado e rejeitado por segurança. empresas/empregos/beneficios/telefones/emails exigem CPF; funcionarios/compliance/historico exigem CNPJ.",
        "items": { "oneOf": [
          {"type":"string","enum":["cadastro","empresas","empregos","beneficios","dividas","processos","veiculos","imoveis","sancoes","restricoes","protestos","telefones","emails","funcionarios","compliance","historico","conexoes","redes"]},
          {"type":"object","additionalProperties":false,"required":["nome","config"],"properties":{
            "nome":{"type":"string","enum":["processos"]},
            "config":{"type":"object","additionalProperties":false,"minProperties":1,"properties":{
              "categorias":{"type":"array","minItems":1,"maxItems":4,"items":{"type":"string","enum":["criminal","civel","trabalhista","tributario"]}},
              "numeros":{"type":"array","minItems":1,"maxItems":100,"items":{"type":"string","pattern":"^(?:\\d{20}|\\d{7}-\\d{2}\\.\\d{4}\\.\\d\\.\\d{2}\\.\\d{4})$"}}
            }}
          }},
          {"type":"object","additionalProperties":false,"required":["nome","config"],"properties":{
            "nome":{"type":"string","enum":["conexoes"]},
            "config":{"type":"object","additionalProperties":false,"required":["graus"],"properties":{"graus":{"type":"integer","enum":[1,2,3]}}}
          }}
        ]}
      },
      "DossieCustomField": {
        "type":"object","additionalProperties":false,"required":["chave","dado"],
        "properties":{
          "chave":{"type":"string","pattern":"^[a-zA-Z0-9_-]{1,64}$"},
          "rotulo":{"type":"string","minLength":1,"maxLength":200},
          "dado":{"$ref":"#/components/schemas/DossieCustomValue"}
        }
      },
      "DossieCustomFields": {
        "type":"array","minItems":1,"maxItems":100,
        "description":"Chaves únicas em cada objeto. Valores personalizados com profundidade máxima de 5 níveis.",
        "items":{"$ref":"#/components/schemas/DossieCustomField"}
      },
      "DossieCustomValue": {
        "description":"Valor estritamente tipado. Sem coerção. Texto e referências não executam instruções nem downloads.",
        "oneOf":[
          {"type":"object","additionalProperties":false,"required":["tipo","valor"],"properties":{"tipo":{"type":"string","enum":["texto"]},"valor":{"type":"string","minLength":1,"maxLength":20000}}},
          {"type":"object","additionalProperties":false,"required":["tipo","valor"],"properties":{"tipo":{"type":"string","enum":["inteiro"]},"valor":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991}}},
          {"type":"object","additionalProperties":false,"required":["tipo","valor"],"properties":{"tipo":{"type":"string","enum":["decimal"]},"valor":{"type":"number","description":"Número finito."}}},
          {"type":"object","additionalProperties":false,"required":["tipo","valor"],"properties":{"tipo":{"type":"string","enum":["booleano"]},"valor":{"type":"boolean"}}},
          {"type":"object","additionalProperties":false,"required":["tipo","valor"],"properties":{"tipo":{"type":"string","enum":["data"]},"valor":{"type":"string","format":"date"}}},
          {"type":"object","additionalProperties":false,"required":["tipo","valor"],"properties":{"tipo":{"type":"string","enum":["instante"]},"valor":{"type":"string","format":"date-time"}}},
          {"type":"object","additionalProperties":false,"required":["tipo","valor"],"properties":{"tipo":{"type":"string","enum":["dinheiro"]},"valor":{"type":"object","additionalProperties":false,"required":["quantia","moeda"],"properties":{"quantia":{"type":"string","pattern":"^-?\\d{1,30}(?:\\.\\d{1,10})?$"},"moeda":{"type":"string","enum":["BRL","USD","EUR"]}}}}},
          {"type":"object","additionalProperties":false,"required":["tipo","motivo"],"properties":{"tipo":{"type":"string","enum":["ausente"]},"motivo":{"type":"string","enum":["nao_informado","desconhecido","nao_aplicavel"]}}},
          {"type":"object","additionalProperties":false,"required":["tipo","campos"],"properties":{"tipo":{"type":"string","enum":["objeto"]},"campos":{"$ref":"#/components/schemas/DossieCustomFields"}}},
          {"type":"object","additionalProperties":false,"required":["tipo","itens"],"properties":{"tipo":{"type":"string","enum":["lista"]},"itens":{"type":"array","maxItems":500,"items":{"$ref":"#/components/schemas/DossieCustomValue"}}}}
        ]
      },
      "DossieCustomData": {
        "type":"array","minItems":1,"maxItems":50,"description":"Blocos com IDs únicos e origem declarada pelo cliente, sem verificação implícita. Sem document, cada bloco deve identificar o mesmo alvo em referencia.documento ou referencia.nome. Com document, referencias documentais devem corresponder ao alvo.",
        "items":{"type":"object","additionalProperties":false,"required":["id","titulo","origem","campos"],"properties":{
          "id":{"type":"string","pattern":"^[a-zA-Z0-9_-]{1,64}$"},
          "titulo":{"type":"string","minLength":1,"maxLength":200},
          "referencia":{"type":"object","additionalProperties":false,"properties":{"documento":{"type":"string","description":"CPF/CNPJ válido."},"nome":{"type":"string","minLength":1,"maxLength":200}}},
          "origem":{"type":"object","additionalProperties":false,"required":["nome"],"properties":{"nome":{"type":"string","minLength":1,"maxLength":200},"referencia":{"type":"string","minLength":1,"maxLength":2000},"informado_em":{"type":"string","format":"date-time"}}},
          "campos":{"$ref":"#/components/schemas/DossieCustomFields"}
        }}
      },
      "DossieSections": {
        "type":"array","minItems":1,"maxItems":50,
        "description":"Ordenação, títulos e texto literal opcional do cliente, escapado e identificado como fornecido. id corresponde a section.id ou ao bloco renderizado como provided-{id}. ID desconhecido informa indisponibilidade sem coleta. Origem/risco permanecem. descricao é rejeitado, sem composição semântica. IDs reservados e aliases do mesmo bloco são rejeitados antes da cobrança.",
        "items":{"type":"object","additionalProperties":false,"required":["id","titulo"],"properties":{
          "id":{"type":"string","pattern":"^[a-zA-Z0-9_-]{1,64}$"},
          "titulo":{"type":"string","minLength":1,"maxLength":200},
          "texto":{"type":"string","minLength":1,"maxLength":20000,"description":"Texto literal fornecido pelo cliente, não instrução para reescrita ou consulta."}
        }}
      },
      "DossieRiskSector": {
        "type":"object","additionalProperties":false,
        "required":["status","motivos","evidencias","cobertura"],
        "description":"evidence-only/1.0 retorna dados_insuficientes nas seis classes enquanto não houver política calibrada. nivel é permitido e obrigatório somente quando status=avaliado, com uma política de avaliação implementada.",
        "example":{"status":"dados_insuficientes","motivos":["Política de avaliação não calibrada."],"evidencias":[],"cobertura":{"modulos_consultados":[],"modulos_ausentes":["dividas"],"limitacoes":["Módulo não solicitado."]}},
        "properties":{
          "status":{"type":"string","enum":["nao_avaliado","dados_insuficientes","avaliado"]},
          "nivel":{"type":"string","enum":["baixo","medio","alto"]},
          "motivos":{"type":"array","items":{"type":"string"}},
          "evidencias":{"type":"array","items":{"type":"string"}},
          "cobertura":{"type":"object","additionalProperties":false,"required":["modulos_consultados","modulos_ausentes","limitacoes"],"properties":{
            "modulos_consultados":{"type":"array","items":{"type":"string"}},
            "modulos_ausentes":{"type":"array","items":{"type":"string"}},
            "limitacoes":{"type":"array","items":{"type":"string"}}
          }}
        },
        "oneOf":[
          {"properties":{"status":{"enum":["avaliado"]}},"required":["nivel"]},
          {"properties":{"status":{"enum":["nao_avaliado","dados_insuficientes"]}},"not":{"required":["nivel"]}}
        ]
      },
      "DossieRiskSectors": {
        "type":"object","additionalProperties":false,"required":["versao","credito","endividamento","patrimonio","judicial","societario","compliance"],
        "description":"Saída automática em result.risco, sem matriz de entrada. Seis classes fixas. Ausência de dados não significa baixo risco.",
        "properties":{
          "versao":{"type":"string","minLength":1,"example":"evidence-only/1.0"},
          "credito":{"$ref":"#/components/schemas/DossieRiskSector"},
          "endividamento":{"$ref":"#/components/schemas/DossieRiskSector"},
          "patrimonio":{"$ref":"#/components/schemas/DossieRiskSector"},
          "judicial":{"$ref":"#/components/schemas/DossieRiskSector"},
          "societario":{"$ref":"#/components/schemas/DossieRiskSector"},
          "compliance":{"$ref":"#/components/schemas/DossieRiskSector"}
        }
      },
      "CreateDossieUnified": {
        "type":"object","additionalProperties":false,
        "description":"Sem mode. modules e data podem coexistir. document obrigatório se houver modules ou não houver data. context somente sem modules/data. CPF/CNPJ, compatibilidade dos módulos, duplicatas e profundidade são validados no servidor.",
        "properties":{
          "document":{"type":"string","minLength":1,"description":"CPF/CNPJ válido."},
          "subject_type":{"type":"string","enum":["cpf","cnpj"],"description":"Inferido do documento. Omitir quando não há documento."},
          "kind":{"type":"string","enum":["basic","advanced"],"default":"basic"},
          "risk_matrix":{"allOf":[{"$ref":"#/components/schemas/DossieRiskMatrix"}],"deprecated":true,"description":"Compatibilidade legada, inclusive sem mode. Não necessária para result.risco."},
          "context":{"type":"string","maxLength":2000},
          "modules":{"oneOf":[{"$ref":"#/components/schemas/DossiePublicModules"},{"$ref":"#/components/schemas/DossieModules"}]},
          "data":{"oneOf":[{"$ref":"#/components/schemas/DossieCustomData"},{"$ref":"#/components/schemas/DossieProvidedData"}]},
          "secoes":{"$ref":"#/components/schemas/DossieSections"}
        },
        "anyOf":[{"required":["document"]},{"required":["data"],"not":{"required":["modules"]}}],
        "not":{"allOf":[{"required":["context"]},{"anyOf":[{"required":["modules"]},{"required":["data"]}]}]}
      },
      "CreateDossie": {
        "description": "Contrato unificado preferencial, sem mode obrigatório nem necessidade de entrada de risco. Formatos explícitos legados continuam aceitos. Até 256 KiB. Campos desconhecidos são rejeitados.",
        "oneOf": [
          { "$ref": "#/components/schemas/CreateDossieUnified" },
          { "$ref": "#/components/schemas/CreateDossieStandard" },
          { "$ref": "#/components/schemas/CreateDossieModular" },
          { "$ref": "#/components/schemas/CreateDossieProvidedData" }
        ]
      },
      "DossieRiskClassification": {
        "deprecated": true,
        "type": "object",
        "required": [
          "matrix_id",
          "matrix_version",
          "status",
          "level",
          "score",
          "matched_rules",
          "missing_fields"
        ],
        "description": "Resultado determinístico disponível após avaliar a matriz, também incluído no relatório e em result.risk_classification. Dados obrigatórios ausentes ou coleta parcial retornam insufficient_data, com score e level null.",
        "properties": {
          "matrix_id": {
            "type": "string"
          },
          "matrix_version": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "classified",
              "insufficient_data"
            ]
          },
          "level": {
            "type": "string",
            "enum": [
              "low",
              "medium",
              "high",
              null
            ],
            "nullable": true,
            "description": "Baixo, médio ou alto, conforme thresholds; null se os dados forem insuficientes."
          },
          "score": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "nullable": true,
            "description": "Soma das regras correspondentes, cada uma uma vez, limitada a 100."
          },
          "matched_rules": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "score"
              ],
              "properties": {
                "id": {
                  "type": "string"
                },
                "score": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 100
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "missing_fields": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Caminhos exigidos sem dados adequados. Coleta parcial também impede classificação, mesmo sem campos faltantes."
          }
        }
      }
    },
    "responses": {
      "Error": {
        "description": "Erro no formato application/problem+json",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "CustomDossieNotEnabled": {
        "description": "dossie_custom_not_enabled: conta sem liberação de public_api_dossies_custom para modos personalizados ou matriz. Sem aceitação/cobrança.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "type": "https://docs.sherlocker.com.br/problems/dossie_custom_not_enabled",
              "title": "Custom Dossier Not Enabled",
              "status": 403,
              "code": "dossie_custom_not_enabled",
              "detail": "Modular and provided_data dossiers are not enabled for this workspace.",
              "instance": "/api/v1/dossies",
              "request_id": "req_01JEXEMPLO",
              "retryable": false
            }
          }
        }
      }
    }
  },
  "paths": {
    "/dossies": {
      "post": {
        "summary": "Criar Dossiê com módulos, dados ou ambos",
        "description": "Geração assíncrona: retorna 202. Envie modules como lista de strings/objetos, data como lista tipada ou combine ambos, sem mode obrigatório. Só data não consulta fontes. modules não define seções. result.risco contém seis classes fixas automaticamente; evidence-only/1.0 não promete níveis baixo/médio/alto. PDF nos artifacts do GET existente. Exige entitlement dossies, escopo dossies:write e public_api_dossies; personalização exige public_api_dossies_custom. Use versão disponível e conta habilitada. Erros de validação/liberação ocorrem antes de aceitar/cobrar. risk_matrix é legado, opcional e aceito inclusive sem mode.",
        "operationId": "createDossie",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDossie"
              },
              "examples": {
                "modules_only": {
                  "summary": "Só módulos, sem mode",
                  "value": {"document":"52998224725","modules":["dividas",{"nome":"processos","config":{"categorias":["criminal","civel"]}},{"nome":"conexoes","config":{"graus":1}}]}
                },
                "data_only": {
                  "summary": "Só dados tipados, sem consultas externas",
                  "value": {"data":[{"id":"avaliacao","titulo":"Avaliação interna","referencia":{"nome":"Fornecedor de exemplo"},"origem":{"nome":"Equipe de compras"},"campos":[{"chave":"observacao","dado":{"tipo":"texto","valor":"Documentação recebida para revisão."}},{"chave":"revisado","dado":{"tipo":"booleano","valor":false}}]}]}
                },
                "combined": {
                  "summary": "Dados do sistema interno do cliente + processos Sherlocker",
                  "value": {
                    "document":"52998224725",
                    "modules":["processos"],
                    "data":[{"id":"cadastro_interno","titulo":"Dados fornecidos pelo cliente","referencia":{"documento":"52998224725","nome":"Pessoa de exemplo"},"origem":{"nome":"Sistema interno do cliente"},"campos":[{"chave":"codigo","dado":{"tipo":"texto","valor":"cliente-8472"}},{"chave":"observacao","dado":{"tipo":"texto","valor":"Cadastro recebido para revisão."}},{"chave":"proxima_revisao","dado":{"tipo":"data","valor":"2028-06-30"}},{"chave":"documentacao_recebida","dado":{"tipo":"booleano","valor":true}},{"chave":"situacao","dado":{"tipo":"ausente","motivo":"nao_informado"}}]}]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Dossiê aceito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dossie"
                }
              }
            }
          },
          "400": {
            "description": "validation_error: modo, documento, módulo, limites ou matriz inválidos; inclui errors por campo.",
            "content": {
              "application/problem+json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/CustomDossieNotEnabled"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "422": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "get": {
        "summary": "Listar Dossiês",
        "description": "Lista Dossiês do workspace por cursor e permite filtrar pelo estado.",
        "operationId": "listDossies",
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "queued",
                "running",
                "completed",
                "needs_review",
                "failed",
                "cancelled"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Página de Dossiês",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Dossie"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/Page"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/dossies/{dossie_id}": {
      "get": {
        "summary": "Consultar Dossiê",
        "description": "Retorna o estado atual, tentativa, cobertura, resultado e artefatos do Dossiê. Inclui mode e risk_classification após avaliar a matriz enviada. Sem matriz, risk_classification é omitida.",
        "operationId": "getDossie",
        "parameters": [
          {
            "$ref": "#/components/parameters/DossieId"
          }
        ],
        "responses": {
          "200": {
            "description": "Dossiê encontrado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dossie"
                },
                "examples": {
                  "provided_data_risk": {
                    "summary": "Legado: resultado de matriz enviada pelo cliente, não risco automático",
                    "value": {
                      "id": "22222222-2222-4222-8222-222222222222",
                      "object": "dossie",
                      "status": "completed",
                      "subject_type": null,
                      "mode": "provided_data",
                      "kind": "basic",
                      "contract_version": "v1",
                      "billing_policy_version": "v1-public",
                      "current_attempt": {
                        "id": "33333333-3333-4333-8333-333333333333",
                        "number": 1,
                        "status": "completed",
                        "queued_at": "2026-10-06T21:00:00Z",
                        "completed_at": "2026-10-06T21:01:00Z",
                        "billing": {
                          "id": "44444444-4444-4444-8444-444444444444",
                          "status": "charged",
                          "amount": 35,
                          "unit": "tokens",
                          "price_version": "dossie-basic-2026-08",
                          "billing_policy_version": "v1-public"
                        }
                      },
                      "coverage": {
                        "status": "complete",
                        "completed": 1,
                        "eligible": 1,
                        "phases": [
                          {
                            "phase": "processos",
                            "status": "completed"
                          }
                        ]
                      },
                      "risk_classification": {
                        "matrix_id": "compliance-fornecedor",
                        "matrix_version": "1",
                        "status": "classified",
                        "level": "high",
                        "score": 70,
                        "matched_rules": [
                          {
                            "id": "processo-criminal",
                            "score": 70,
                            "description": "Processo criminal informado"
                          }
                        ],
                        "missing_fields": []
                      },
                      "result": {
                        "risk_classification": {
                          "matrix_id": "compliance-fornecedor",
                          "matrix_version": "1",
                          "status": "classified",
                          "level": "high",
                          "score": 70,
                          "matched_rules": [
                            {
                              "id": "processo-criminal",
                              "score": 70,
                              "description": "Processo criminal informado"
                            }
                          ],
                          "missing_fields": []
                        }
                      },
                      "artifacts": [
                        {
                          "id": "55555555-5555-4555-8555-555555555555",
                          "type": "dossie_pdf",
                          "media_type": "application/pdf",
                          "status": "available",
                          "download_url": "https://downloads.example.com/dossie.pdf",
                          "expires_at": "2026-10-06T21:15:00Z"
                        }
                      ],
                      "stale": false,
                      "created_at": "2026-10-06T21:00:00Z",
                      "updated_at": "2026-10-06T21:01:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/dossies/{dossie_id}/status": {
      "get": {
        "summary": "Consultar andamento do Dossiê",
        "description": "Leitura leve do estado atual para acompanhamento assíncrono. Inclui mode e risk_classification após avaliar a matriz enviada. Sem matriz, risk_classification é omitida.",
        "operationId": "getDossieStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/DossieId"
          }
        ],
        "responses": {
          "200": {
            "description": "Estado atual",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dossie"
                },
                "examples": {
                  "provided_data_risk": {
                    "summary": "Legado: resultado de matriz enviada pelo cliente, não risco automático",
                    "value": {
                      "id": "22222222-2222-4222-8222-222222222222",
                      "object": "dossie",
                      "status": "completed",
                      "subject_type": null,
                      "mode": "provided_data",
                      "kind": "basic",
                      "contract_version": "v1",
                      "billing_policy_version": "v1-public",
                      "current_attempt": {
                        "id": "33333333-3333-4333-8333-333333333333",
                        "number": 1,
                        "status": "completed",
                        "queued_at": "2026-10-06T21:00:00Z",
                        "completed_at": "2026-10-06T21:01:00Z",
                        "billing": {
                          "id": "44444444-4444-4444-8444-444444444444",
                          "status": "charged",
                          "amount": 35,
                          "unit": "tokens",
                          "price_version": "dossie-basic-2026-08",
                          "billing_policy_version": "v1-public"
                        }
                      },
                      "coverage": {
                        "status": "complete",
                        "completed": 1,
                        "eligible": 1,
                        "phases": [
                          {
                            "phase": "processos",
                            "status": "completed"
                          }
                        ]
                      },
                      "risk_classification": {
                        "matrix_id": "compliance-fornecedor",
                        "matrix_version": "1",
                        "status": "classified",
                        "level": "high",
                        "score": 70,
                        "matched_rules": [
                          {
                            "id": "processo-criminal",
                            "score": 70,
                            "description": "Processo criminal informado"
                          }
                        ],
                        "missing_fields": []
                      },
                      "result": {
                        "risk_classification": {
                          "matrix_id": "compliance-fornecedor",
                          "matrix_version": "1",
                          "status": "classified",
                          "level": "high",
                          "score": 70,
                          "matched_rules": [
                            {
                              "id": "processo-criminal",
                              "score": 70,
                              "description": "Processo criminal informado"
                            }
                          ],
                          "missing_fields": []
                        }
                      },
                      "artifacts": [
                        {
                          "id": "55555555-5555-4555-8555-555555555555",
                          "type": "dossie_pdf",
                          "media_type": "application/pdf",
                          "status": "available",
                          "download_url": "https://downloads.example.com/dossie.pdf",
                          "expires_at": "2026-10-06T21:15:00Z"
                        }
                      ],
                      "stale": false,
                      "created_at": "2026-10-06T21:00:00Z",
                      "updated_at": "2026-10-06T21:01:00Z"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/dossies/{dossie_id}/cancel": {
      "post": {
        "summary": "Cancelar Dossiê",
        "description": "Solicita cancelamento enquanto o trabalho ainda permite essa transição.",
        "operationId": "cancelDossie",
        "parameters": [
          {
            "$ref": "#/components/parameters/DossieId"
          }
        ],
        "responses": {
          "202": {
            "description": "Cancelamento aceito",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dossie"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/dossies/{dossie_id}/retry": {
      "post": {
        "summary": "Reprocessar Dossiê",
        "description": "Cria uma nova tentativa para um Dossiê elegível, preservando o mesmo identificador. Reutiliza modo, módulos, dados e matriz originais e verifica novamente a liberação vigente da conta. Não permite substituir a configuração nesta operação.",
        "operationId": "retryDossie",
        "parameters": [
          {
            "$ref": "#/components/parameters/DossieId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Nova tentativa aceita",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dossie"
                }
              }
            }
          },
          "402": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/CustomDossieNotEnabled"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    }
  }
}
